In [2]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [54]:
#spark.read.csv() 메소드를 이용하여 csv 파일을 로드하고 DataFrame으로 변환. 
# pandas_df = pd.read_csv('/FileStore/tables/titanic_train.csv', header='infer')
df=spark.read.csv('C:\\Users\\jihun\\Downloads\\stats (7).csv',header=True,inferSchema=True)


from pyspark.sql.types import StructType,StructField, StringType
import re

for each in df.schema.names:
    df = df.withColumnRenamed(each,  re.sub(r'\s+([a-zA-Z_][a-zA-Z_0-9]*)\s*','',each.replace(' ', '')))
# 일부 컬럼에 있는 공백 없애기    
    
# pandas DataFrame을 spark DataFrame으로 부터 생성. 
pdf = df.select('*').toPandas()

In [55]:
df.cache()

DataFrame[last_name: string, first_name: string, player_id: int, year: int, p_k_percent: double, p_bb_percent: double, xwoba: double, z_swing_percent: double, z_swing_miss_percent: double, oz_swing_percent: double, oz_swing_miss_percent: double, oz_contact_percent: double, out_zone_percent: double, iz_contact_percent: double, in_zone_percent: double, edge_percent: double, whiff_percent: double, fastball_avg_speed: double, fastball_avg_spin: int, fastball_avg_break: double, breaking_avg_speed: double, breaking_avg_spin: int, breaking_avg_break: double, offspeed_avg_speed: double, offspeed_avg_spin: int, offspeed_avg_break: double, _c26: string]

In [56]:
df.limit(10).show()

+----------+----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+
| last_name|first_name|player_id|year|p_k_percent|p_bb_percent|xwoba|z_swing_percent|z_swing_miss_percent|oz_swing_percent|oz_swing_miss_percent|oz_contact_percent|out_zone_percent|iz_contact_percent|in_zone_percent|edge_percent|whiff_percent|fastball_avg_speed|fastball_avg_spin|fastball_avg_break|breaking_avg_speed|breaking_avg_spin|breaking_avg_break|offspeed_avg_speed|offspeed_avg_spin|offspeed_avg_break|_c26|
+----------+----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+
|     Perez|    Oliver|   424144|2020|       19.4|         8.3|0.274|           62.3|                10.6|            23.8|                 45.2|              54.8|            46.3|              88.3|           53.7|        43.8|         19.2|              89.9|             2114|              19.4|              76.1|             2195|              10.3|              null|             null|              null|null|
|Wainwright|      Adam|   425794|2020|       20.6|         5.7|0.324|           62.9|                15.2|            30.2|                 41.4|              58.6|            51.6|              83.7|           48.4|        43.0|         24.1|              87.6|             2253|              13.5|              73.5|             2791|              22.0|              81.8|             1683|              15.3|null|
|   Greinke|      Zack|   425844|2020|       24.5|         3.3|0.299|           59.7|                17.0|            26.3|                 46.5|              53.5|            56.4|              82.6|           43.6|        43.7|         27.7|              88.1|             2327|              17.6|              77.7|             2425|              12.2|              86.2|             1668|              14.0|null|
|     Petit|  Yusmeiro|   433589|2020|       19.3|         5.7|0.328|           73.2|                22.6|            31.6|                 34.0|              66.0|            50.2|              76.5|           49.8|        41.0|         26.1|              86.7|             2134|              17.4|              74.3|             2000|              13.3|              81.3|             1753|              18.3|null|
|   Sanchez|    Anibal|   434671|2020|       17.6|         7.3|0.355|           70.3|                16.8|            28.7|                 36.8|              61.8|            54.6|              81.6|           45.4|        43.5|         23.4|              88.6|             2152|              16.2|              76.8|             2044|               4.9|              79.6|             1492|              15.0|null|
|    Rondon|    Hector|   444468|2020|       23.7|        11.3|0.355|           67.2|                 9.3|            27.3|                 42.6|              53.7|            50.8|              89.9|           49.2|        45.1|         19.1|              95.6|             2034|              17.7|              85.4|             2290|               6.2|              88.3|             1719|              16.4|null|
|  Kintzler|   Brandon|   445213|2020|       13.9|        10.9|0.325|           61.0|                 5.0|            28.5|                 35.3|              64.7|            52.2|              95.0|           47.8|        48.1|         15.2|              91.3|             1943|              18.1|              84.6|             2322|               3.4|              85.9|             2065|              20.0|null|
|    Jansen|    Kenley|   445276|2020|       32.4|         8.8|0.266|           70.7|                27.7|            34.4|                 36.8|              63.2|            49.6|              71.7|           50.4|        45.1|         30.6|              91.3|             2449|              16.9|              81.6|             2334|               8.5|              null|             null|              null|null|
|    Chavez|     Jesse|   445926|2020|       16.9|         9.1|0.393|           62.0|                14.0|            19.4|                 20.0|              80.0|            50.8|              86.0|           49.2|        43.3|         15.4|              90.2|             2197|              16.7|              83.3|             2268|               6.1|              85.2|             1988|              18.7|null|
|  Detwiler|      Ross|   446321|2020|       18.5|         6.2|0.294|           74.0|                20.7|            27.3|                 45.5|              54.5|            51.8|              78.4|           48.2|        41.5|         27.7|              91.1|             2183|              18.7|              82.7|             2176|               3.3|              85.2|             1726|              14.5|null|
+----------+----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+

In [58]:
## SQL 사용이 가능할 수 있도록 titanic_sdf DataFrame을 DB View로 생성. 
df.createOrReplaceTempView('df_view')

In [13]:
spark.sql('select * from df_view').show()

+----------+-----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+
| last_name| first_name|player_id|year|p_k_percent|p_bb_percent|xwoba|z_swing_percent|z_swing_miss_percent|oz_swing_percent|oz_swing_miss_percent|oz_contact_percent|out_zone_percent|iz_contact_percent|in_zone_percent|edge_percent|whiff_percent|fastball_avg_speed|fastball_avg_spin|fastball_avg_break|breaking_avg_speed|breaking_avg_spin|breaking_avg_break|offspeed_avg_speed|offspeed_avg_spin|offspeed_avg_break|_c26|
+----------+-----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+
|     Perez|     Oliver|   424144|2020|       19.4|         8.3|0.274|           62.3|                10.6|            23.8|                 45.2|              54.8|            46.3|              88.3|           53.7|        43.8|         19.2|              89.9|             2114|              19.4|              76.1|             2195|              10.3|              null|             null|              null|null|
|Wainwright|       Adam|   425794|2020|       20.6|         5.7|0.324|           62.9|                15.2|            30.2|                 41.4|              58.6|            51.6|              83.7|           48.4|        43.0|         24.1|              87.6|             2253|              13.5|              73.5|             2791|              22.0|              81.8|             1683|              15.3|null|
|   Greinke|       Zack|   425844|2020|       24.5|         3.3|0.299|           59.7|                17.0|            26.3|                 46.5|              53.5|            56.4|              82.6|           43.6|        43.7|         27.7|              88.1|             2327|              17.6|              77.7|             2425|              12.2|              86.2|             1668|              14.0|null|
|     Petit|   Yusmeiro|   433589|2020|       19.3|         5.7|0.328|           73.2|                22.6|            31.6|                 34.0|              66.0|            50.2|              76.5|           49.8|        41.0|         26.1|              86.7|             2134|              17.4|              74.3|             2000|              13.3|              81.3|             1753|              18.3|null|
|   Sanchez|     Anibal|   434671|2020|       17.6|         7.3|0.355|           70.3|                16.8|            28.7|                 36.8|              61.8|            54.6|              81.6|           45.4|        43.5|         23.4|              88.6|             2152|              16.2|              76.8|             2044|               4.9|              79.6|             1492|              15.0|null|
|    Rondon|     Hector|   444468|2020|       23.7|        11.3|0.355|           67.2|                 9.3|            27.3|                 42.6|              53.7|            50.8|              89.9|           49.2|        45.1|         19.1|              95.6|             2034|              17.7|              85.4|             2290|               6.2|              88.3|             1719|              16.4|null|
|  Kintzler|    Brandon|   445213|2020|       13.9|        10.9|0.325|           61.0|                 5.0|            28.5|                 35.3|              64.7|            52.2|              95.0|           47.8|        48.1|         15.2|              91.3|             1943|              18.1|              84.6|             2322|               3.4|              85.9|             2065|              20.0|null|
|    Jansen|     Kenley|   445276|2020|       32.4|         8.8|0.266|           70.7|                27.7|            34.4|                 36.8|              63.2|            49.6|              71.7|           50.4|        45.1|         30.6|              91.3|             2449|              16.9|              81.6|             2334|               8.5|              null|             null|              null|null|
|    Chavez|      Jesse|   445926|2020|       16.9|         9.1|0.393|           62.0|                14.0|            19.4|                 20.0|              80.0|            50.8|              86.0|           49.2|        43.3|         15.4|              90.2|             2197|              16.7|              83.3|             2268|               6.1|              85.2|             1988|              18.7|null|
|  Detwiler|       Ross|   446321|2020|       18.5|         6.2|0.294|           74.0|                20.7|            27.3|                 45.5|              54.5|            51.8|              78.4|           48.2|        41.5|         27.7|              91.1|             2183|              18.7|              82.7|             2176|               3.3|              85.2|             1726|              14.5|null|
|      Hill|       Rich|   448179|2020|       19.9|        10.9|0.342|           58.1|                13.2|            26.8|                 22.0|              75.6|            49.4|              86.8|           50.6|        42.0|         15.9|              87.3|             2390|              20.2|              72.6|             2839|              23.0|              83.4|             1724|              19.0|null|
|    Guerra|     Junior|   448855|2020|       20.4|        14.6|0.321|           72.0|                18.3|            28.4|                 44.4|              55.6|            55.0|              80.9|           45.0|        38.1|         26.8|              94.0|             2446|              19.8|              81.8|             2720|              11.0|              86.1|             1244|              16.2|null|
|    Morton|    Charlie|   450203|2020|       24.7|         5.9|0.305|           69.2|                17.0|            31.4|                 45.3|              53.7|            45.9|              82.6|           54.1|        42.3|         24.9|              92.1|             2287|              16.7|              78.2|             2887|              20.0|              85.9|             2036|              19.4|null|
|    Lester|        Jon|   452657|2020|       15.8|         6.4|0.363|           67.4|                11.3|            25.9|                 32.4|              67.6|            55.6|              88.1|           44.4|        40.9|         18.1|              88.4|             2240|              14.2|              73.4|             2569|              11.8|              83.3|             1913|              15.1|null|
|    Hughes|      Jared|   453172|2020|       19.3|        12.8|0.328|           63.0|                23.7|            34.9|                 41.1|              57.8|            62.6|              76.3|           37.4|        44.2|         32.1|              91.4|             2026|              15.4|              80.8|             2064|              14.4|              84.2|             1528|              10.0|null|
|   Kennedy|        Ian|   453178|2020|       21.7|         7.2|0.377|           71.6|                18.8|            29.2|                 28.6|              71.4|            46.0|              80.2|           54.0|        41.8|         21.3|              92.1|             2367|              15.1|              80.5|             2568|              15.2|              86.7|             1851|              16.7|null|
|    Miller|     Andrew|   453192|2020|       29.1|         9.1| 0.22|           64.9|                23.8|            22.2|                 50.0|              50.0|            52.7|              74.6|           47.3|        39.5|         31.0|              90.2|             2106|              15.6|              80.1|             2605|              13.0|              null|             null|              null|null|
|    Watson|       Tony|   453265|2020|       20.5|         4.1|0.303|           62.7|                17.6|            38.9|                 38.1|              61.9|            57.9|              81.1|           42.1|        39.6|         27.0|              89.8|             2283|              18.2|              81.2|             2338|               3.8|              84.1|             2257|              20.4|null|
|      Bard|     Daniel|   453268|2020|       25.5|         9.4|0.306|           68.6|                22.5|            24.5|                 48.9|              51.1|            45.5|              76.8|           54.5|        46.3|         28.6|              97.0|             2671|              14.8|              87.6|             2815|               6.7|              89.7|             2126|              16.3|null|
|   LeBlanc|       Wade|   453281|2020|       12.6|         7.8|0.323|           62.8|                17.4|            28.3|                 40.4|              59.6|            50.1|              80.0|           49.9|        44.1|         24.6|              85.1|             1908|              13.7|              72.9|             2269|              14.3|              78.9|             1598|              16.2|null|
+----------+-----------+---------+----+-----------+------------+-----+---------------+--------------------+----------------+---------------------+------------------+----------------+------------------+---------------+------------+-------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+----+
only showing top 20 rows

In [14]:
spark.sql('select * from df_view limit(10)')

DataFrame[last_name: string,  first_name: string, player_id: int, year: int, p_k_percent: double, p_bb_percent: double, xwoba: double, z_swing_percent: double, z_swing_miss_percent: double, oz_swing_percent: double, oz_swing_miss_percent: double, oz_contact_percent: double, out_zone_percent: double, iz_contact_percent: double, in_zone_percent: double, edge_percent: double, whiff_percent: double, fastball_avg_speed: double, fastball_avg_spin: int, fastball_avg_break: double, breaking_avg_speed: double, breaking_avg_spin: int, breaking_avg_break: double, offspeed_avg_speed: double, offspeed_avg_spin: int, offspeed_avg_break: double, _c26: string]

In [23]:
spark.sql('select upper(last_name),xwoba from df_view').show()

+----------------+-----+
|upper(last_name)|xwoba|
+----------------+-----+
|           PEREZ|0.274|
|      WAINWRIGHT|0.324|
|         GREINKE|0.299|
|           PETIT|0.328|
|         SANCHEZ|0.355|
|          RONDON|0.355|
|        KINTZLER|0.325|
|          JANSEN|0.266|
|          CHAVEZ|0.393|
|        DETWILER|0.294|
|            HILL|0.342|
|          GUERRA|0.321|
|          MORTON|0.305|
|          LESTER|0.363|
|          HUGHES|0.328|
|         KENNEDY|0.377|
|          MILLER| 0.22|
|          WATSON|0.303|
|            BARD|0.306|
|         LEBLANC|0.323|
+----------------+-----+
only showing top 20 rows

In [27]:
spark.sql('select substring(last_name, 0, 1) from df_view').show()

+--------------------------+
|substring(last_name, 0, 1)|
+--------------------------+
|                         P|
|                         W|
|                         G|
|                         P|
|                         S|
|                         R|
|                         K|
|                         J|
|                         C|
|                         D|
|                         H|
|                         G|
|                         M|
|                         L|
|                         H|
|                         K|
|                         M|
|                         W|
|                         B|
|                         L|
+--------------------------+
only showing top 20 rows

In [62]:
spark.sql("""select last_name,first_name,fastball_avg_speed,xwoba from df_view
where fastball_avg_speed < 90 and xwoba < 0.25
""").show()

+---------+----------+------------------+-----+
|last_name|first_name|fastball_avg_speed|xwoba|
+---------+----------+------------------+-----+
|Zastryzny|       Rob|              88.9|0.212|
|     Hart|    Donnie|              88.3|  0.2|
|    Smith|       Joe|              89.0|0.249|
|    Suter|     Brent|              87.5|0.223|
|   Rogers|     Tyler|              82.4|0.218|
|   McHugh|    Collin|              88.3|0.233|
|    O'Day|    Darren|              86.6|0.244|
|     Nuno|     Vidal|              89.0|0.249|
|   Cimber|      Adam|              86.5|0.248|
+---------+----------+------------------+-----+

In [0]:
%sql
select pclass, name, age from titanic_view where upper(name) like '%MR.%'

In [0]:
%sql
select * from titanic_view where pclass in (1, 2)

In [0]:
%sql
-- order by 절로 정렬. pclass로 오름 차순 정렬 후 10건만 추출. 
select * from titanic_view order by pclass limit 10 -- titanic_sdf.orderBy('pclass').limit(10).show()

In [0]:
%sql
-- pclass는 오름차순, name은 내림차순으로 정렬
select * from titanic_view order by pclass asc, name desc

In [0]:
%sql
-- view의 건수 추출 
select count(*) as cnt from titanic_view -- titanic_sdf.count()

In [0]:
%sql
-- titanic_view의 최대 age, 최소 age, 평균 sibsp 값을 추출. 
select max(age), min(age), avg(sibsp) from titanic_view

In [0]:
%sql
-- pclass로 group by 하여 pclass 레벨로 최대 age, 최소 age, 평균 sibsp 값을 추출. 
select pclass, max(age), min(age), avg(sibsp) from titanic_view group by pclass

In [0]:
%sql
-- pclass로 group by 하여 pclass 레벨로 최대 age, 최소 age, 평균 sibsp 값을 추출. 
select pclass, max(age) as max_age, min(age) as min_age, avg(sibsp) as avg_sibsp from titanic_view group by pclass having max(age) > 70
/* 
import pyspark.sql.functions as F
titanic_sdf.groupBy('pclass').agg(F.max(col('age')).alias('max_age'), 
                                  F.min(col('age')).alis('min_age'), 
                                  F.avg(col('sibsp')).alias('avg_sibsp')).filter(col('max_age') > 70).show()
*/

In [0]:
%sql

select pclass, max_age, min_age, avg_sibsp
from ( 
      select pclass, max(age) as max_age, min(age) as min_age, avg(sibsp) as avg_sibsp from titanic_view group by pclass
) where max_age > 70

In [0]:
%sql
-- 아래 update sql은 동작하지 않음. 
update titanic_view set fare=fare*10 -- titanic_sdf.withColumn('Fare', col('Fare')*10)

In [0]:
%sql

delete from titanic_view;

In [0]:
%sql
-- Null 조건(Not Null 조건 )
select * from titanic_view where age is null and cabin is not null -- titanic_sdf.filter(F.col('age').isNull & F.col('cabin').isNotNull())

In [0]:
import pyspark.sql.functions as F

titanic_sdf.filter((F.col('age').isNull()) & (F.col('cabin').isNotNull())).show()

In [0]:
%sql

-- select case when 조건으로 if elif else 조건에 따라 값 생성. 
Select a.*, CASE WHEN age <= 5 THEN 'Baby'
                 WHEN age <=12 Then 'Child'
                 WHEN age <= 18 THEN 'Teenage'
                 WHEN age <= 25 THEN 'Student'
                 WHEN age <=35 THEN 'Young Adult'
                 WHEN age <=60 THEN 'Adult'
                 WHEN age IS NULL THEN 'NA'
                 ELSE 'Elderly' END as Age_Category from titanic_view a

In [0]:
titanic_sdf.withColumn('Age_category', F.when(F.col('Age') <= 5, 'Baby')
                                      .when(F.col('Age') <= 12, 'Child')
                                      .when(F.col('Age') <= 18, 'Teenage')
                                      .when(F.col('Age') <= 25, 'Student')
                                      .when(F.col('Age') <= 35, 'Young Adult')
                                      .when(F.col('Age') <= 60, 'Adult')
                                      .when(F.col('Age').isNull(), 'NA')
                                      .otherwise('Elderly')).show()

### Databricks의 내장된 Graph 시각화 기능 사용하기. 
* 일반적으로 spark의 경우 spark DataFrame을 pandas Dataframe으로 변환 후 matplotlib 이나 seaborn을 적용하여 시각화
* Spark에서 Pandas API와 매우 유사하게 DataFrame을 사용할 수 있도록 해주는 Koalas 패키지가 있음. Spark 3.2 부터는 Pandas API로 Koalas 패키지가 통합됨. 
* Databricks는 Graph 시각화 기능이 내장되어 있음. 이를 이용하여 손쉽게 시각화 가능. 
* 시각화 기능을 적용할 때에는 클라이언트 레벨에서 너무 많은 데이터를 가공하지 않도록 유의(매우 많은 시간과 리소스 소모)

In [0]:
%sql
--bar chart
select pclass, count(*) from titanic_view group by pclass

In [0]:
## SQL뿐만 아니라 DataFrame도 display() 적용 시 Databricks 시각화 기능 적용 가능. 
display(titanic_sdf.groupBy('Pclass').count())

In [0]:
%sql
-- histogram
select survived from titanic_view

In [0]:
%sql
-- bar chart
select Survived, count(*) from titanic_view group by Survived order by 2 desc

In [0]:
%sql 
-- Sex 별로 생존/사망 건수를 비교하여 보여 주기. 
select Survived, Sex, count(*) from titanic_view group by survived, sex;

In [0]:
%sql
-- pclass와 sex 별로 생존/사망 건수를 비교하여 보여 주기 
select Survived, Sex, Pclass, count(*) cnt from titanic_view group by survived, sex, pclass;

In [0]:
%sql
-- scatter plot
select fare, age from titanic_view

In [0]:
%sql
-- boxplot
select age from titanic_view